$c_reaction:hsl(0, 100%, 67%);
$c_memory:hsl(39, 100%, 56%);
$c_verbal:hsl(166, 100%, 37%);
$c_visual:hsl(234, 85%, 45%);
$tc_result: hsl(221, 100%, 96%);

$bg_reaction:hsla(0, 100%, 67%, 0.1);
$bg_memory:hsla(39, 100%, 56%, 0.1);
$bg_verbal:hsla(166, 100%, 37%, 0.1);
$bg_visual:hsla(234, 85%, 45%, 0.1);
